@import 'tailwindcss';

@layer base {
	h1 {
		font-size: var(--text-2xl);
	}
	h2 {
		font-size: var(--text-xl);
	}
	h3 {
		font-size: var(--text-lg);
	}
	a {
		color: var(--color-blue-600);
		text-decoration-line: underline;
	}
}

@theme {
  --animate-wiggle: wiggle 1s ease-in-out infinite;

  @keyframes wiggle {
    0%,
    100% {
      transform: rotate(-3deg);
    }
    50% {
      transform: rotate(3deg);
    }
  }
}
