name: Deploy to S3

on:
    push:
        branches:
            - main

jobs:
    deploy:
        runs-on: ubuntu-latest
        permissions:
            id-token: write
            contents: read
        steps:
          - name: Checkout Code
            uses: actions/checkout@v6

          - name: Configure AWS Credentials
            uses: aws-actions/configure-aws-credentials@v5.1.1
            with:
              aws-region: us-east-1
              role-to-assume: arn:aws:iam::464547670885:role/GitHub-Portfolio-Deploy

          - name: Get S3 Bucket Name from Secrets Manager
            uses: aws-actions/aws-secretsmanager-get-secrets@v2
            with:
                secret-ids: AWS_S3_BUCKET, Portfolio_Deploy_Secrets

          - name: Sync to S3
            run: aws s3 sync ./dist s3://${{ env.AWS_S3_BUCKET }} --delete
